## ignore local config
Code/
containers/
go/
evolution/
git/
grsync/
Code/
dconf/
PCSX2/
gtk-4.0/
Podman\ Desktop/
google-chrome/
keepassxc/
nautilus/
obsidian/
pulse/
xfce4/
yay/
mimeapps.list
QtProject.conf
pavucontrol.ini
user-dirs.locale