[Match]
Name=bridge

[Link]
RequiredForOnline=routable

[Network]
DHCP=yes
#Address=10.10.2.2/24
#Gateway=10.10.2.1
#DNS=10.10.1.1
Cache=yes


[DHCPv4]
RouteMetric=100

[IPv6AcceptRA]
RouteMetric=100