[Desktop Entry]
Name[ar]=استخرج تعمية الملف
Name[as]=নথিপত্ৰ ডিক্ৰিপ্ট কৰক
Name[ast]=Descifrar ficheru
Name[be@latin]=Rasšyfruj fajł
Name[bg]=Дешифриране на файл
Name[bn]=ফাইল ডিক্রিপ্ট করুন
Name[bn_IN]=ফাই ডিক্রিপ্ট করুন
Name[br]=Ezrinegañ ar restr
Name[bs]=Dešifruj datoteku
Name[ca]=Desxifra un fitxer
Name[ca@valencia]=Desxifra un fitxer
Name[cs]=Dešifrovat soubor
Name[da]=Dekryptér en fil
Name[de]=Datei entschlüsseln
Name[dz]=གསང་བཤོལ་ཡིག་སྣོད་
Name[el]=Αποκρυπτογράφηση αρχείου
Name[en_CA]=Decrypt File
Name[en_GB]=Decrypt File
Name[en@shaw]=𐑛𐑦𐑒𐑮𐑦𐑐𐑑 𐑓𐑲𐑤
Name[es]=Descifrar fichero
Name[et]=Faili lahtikrüptimine
Name[eu]=Deszifratu fitxategia
Name[fi]=Pura tiedosto
Name[fr]=Déchiffrer le fichier
Name[fur]=Decifre file
Name[ga]=Díchriptigh Comhad
Name[gl]=Descifrar ficheiro
Name[gu]=ફાઈલ ડિક્રિપ્ટ કરો
Name[he]=פענוח קובץ
Name[hi]=फाइल विगोपित करे
Name[hr]=Dešifriraj datoteku
Name[hu]=Fájl visszafejtése
Name[id]=Awa Sandikan Berkas
Name[it]=Decifra file
Name[ja]=ファイルの復号化
Name[ka]=ფაილის გაშიფვრა
Name[kn]=ಕಡತವನ್ನು ಡೀಕ್ರಿಪ್ಟ್‍ ಮಾಡು
Name[ko]=파일 복호화
Name[lt]=Iššifruoti failą
Name[lv]=Atšifrēt datni
Name[mk]=Декриптирај датотека
Name[ml]=ഫയല്‍ ഡീക്റിപ്റ്റ് ചെയ്യുക
Name[mr]=फाइल डीक्रीप्ट करा
Name[nb]=Dekrypter fil
Name[ne]=फाइल गुप्तलेखन गर्नुहोस्
Name[nl]=Bestand ontsleutelen
Name[nn]=Dekrypter fil
Name[oc]=Deschifrar lo fichièr
Name[or]=ଫାଇଲ ଅସଂଗୁପ୍ତ କରନ୍ତୁ
Name[pa]=ਡਿਕ੍ਰਿਪਟ ਫਾਇਲ
Name[pl]=Odszyfruj plik
Name[pt]=Desencriptar o ficheiro
Name[pt_BR]=Descriptografar arquivo
Name[ro]=Decriptare fișier
Name[ru]=Расшифровать файл
Name[sk]=Dešifrovať súbor
Name[sl]=Odšifriranje datoteke
Name[sr]=Дешифруј датотеку
Name[sr@latin]=Dešifruj datoteku
Name[sv]=Dekryptera fil
Name[ta]=கோப்பை மறைவிலக்குக
Name[te]=దస్త్రమును డీక్రిప్టుచేయి
Name[th]=ถอดรหัสลับแฟ้ม
Name[tr]=Dosya şifresini çöz
Name[ug]=ھۆججەتنى شىفىرسىزلا
Name[uk]=Розшифрувати файл
Name[zh_CN]=解密文件
Name[zh_HK]=解密檔案
Name[zh_TW]=解密檔案
Name=Decrypt File
MimeType=application/pgp-encrypted;
Exec=seahorse-tool --decrypt %U
Type=Application
Terminal=false
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.11.92
X-GNOME-DocPath=seahorse/seahorse.xml
