[Desktop Entry]
Version=1.0
Name[am]=Xfmpc
Name[ar]=Xfmpc
Name[be]=Xfmpc
Name[bg]=Xfmpc
Name[ca]=Xfmpc
Name[cs]=Xfmpc
Name[da]=Xfmpc
Name[de]=Xfmpc
Name[el]=Xfmpc
Name[en_AU]=Xfmpc
Name[en_GB]=Xfmpc
Name[es]=Xfmpc
Name[et]=Xfmpc
Name[eu]=Xfmpc
Name[fi]=Xfmpc
Name[fr]=Xfmpc
Name[gl]=Xfmpc
Name[he]=Xfmpc
Name[hr]=Xfmpc
Name[hu]=Xfmpc
Name[hy_AM]=Xfmpc
Name[hye]=Xfmpc
Name[id]=Xfmpc
Name[ie]=Xfmpc
Name[is]=XFMPC
Name[it]=Xfmpc
Name[ja]=Xfmpc
Name[ko]=Xfmpc
Name[lt]=Xfmpc
Name[ms]=Xfmpc
Name[nb]=Xfmpc
Name[nl]=Xfmpc
Name[oc]=Xfmpc
Name[pl]=Xfmpc
Name[pt_BR]=Xfmpc
Name[pt]=Xfmpc
Name[ro]=Xfmpc
Name[ru]=Xfmpc
Name[si]=Xfmpc
Name[sk]=Xfmpc
Name[sl]=Xfmpc
Name[sq]=Xfmpc
Name[sr]=ИксФмпц
Name[sv]=Xfmpc
Name[th]=Xfmpc
Name[tr]=Xfmpc
Name[ug]=Xfmpc
Name[uk]=Програма Xfmpc
Name[ur_PK]=Xfmpc
Name[ur]=Xfmpc
Name[zh_CN]=Xfmpc 客户端
Name[zh_TW]=Xfmpc
Name=Xfmpc
Comment[am]=MPD client written in GTK+ for Xfce
Comment[ar]=عميل MPD مكتوبـ GTK+ لإكسفس
Comment[be]=MPD-кліент на GTK+ для Xfce
Comment[bg]=MPD-клиент (използващ GTK+) за Xfce
Comment[ca]=Client MPD escrit en GTK+ per a Xfce
Comment[cs]=Klient MPD napsaný v GTK+ pro prostředí Xfce
Comment[da]=MPD-klient skrevet i GTK+ til Xfce
Comment[de]=MPD-Programm geschrieben in GTK+ für Xfce
Comment[el]=Πελάτης MPD γραμμένος σε GTK+ για το XFCE
Comment[en_AU]=MPD client written in GTK+ for Xfce
Comment[en_GB]=MPD client written in GTK+ for Xfce
Comment[es]=Cliente de MPD para Xfce
Comment[et]=Xfce MPD klient loodud GTK+ abil
Comment[eu]=Xfce-ren GTK+en idatzitako MPD bezeroa
Comment[fi]=GTK+-pohjainen MPD-asiakasohjelma Xfce:lle
Comment[fr]=Client MPD écrit en GTK+ pour Xfce
Comment[gl]=Cliente de MPD escrito en GTK+ para Xfce
Comment[he]=לקוח MPD שנכתב ב־GTK+‎ עבור Xfce
Comment[hr]=MPD klijent pisan u GTK+ za Xfce
Comment[hu]=GTK+-t használó MPD-kliens az Xfce-hez
Comment[hy_AM]=MPD սպասառու՝ գրուած GTK+ ֊ում, Xfce֊ի համար
Comment[hye]=MPD սպասառու՝ գրուած GTK+ ֊ում, Xfce֊ի համար
Comment[id]=Klien MPD ditulis dalam GTK+ untuk Xfce
Comment[ie]=Un client MPD de GTK+ por Xfce
Comment[is]=MPD forrit skrifað í GTK+ fyrir Xfce
Comment[it]=Client MPD scritto in GTK+ per Xfce
Comment[ja]=Xfce 向けの GTK+ で書かれた MPD クライアントです。
Comment[ko]=GTK+로 작성한 Xfce용 MPD 클라이언트
Comment[lt]=GTK+ MPD klientas Xfce aplinkai
Comment[ms]=Klien MPD ditulis dengan GTK+ untuk Xfce
Comment[nb]=MPD-klient skrevet i GTK+ for Xfce
Comment[nl]=MPD client geschreven in GTK+ voor Xfce
Comment[oc]=Client MPD escrich en GTK+ per Xfce
Comment[pl]=Klient MPD napisany w GTK+ dla Xfce
Comment[pt_BR]=Cliente MPD escrito em GTK+ para o Xfce
Comment[pt]=Cliente MPD escrito em GTK+ para Xfce
Comment[ro]=Client MPD scris în GTK+ pentru Xfce
Comment[ru]=MPD-клиент (использующий GTK+) для Xfce
Comment[sk]=MPD klient napísany v GTK+ pre Xfce
Comment[sl]=Odjemalec za MPD, napisan v GTK+, za Xfce
Comment[sq]=Klient MPD shkruar në GTK+ për Xfce-në
Comment[sr]=МПД клијент писан у ГТК+ за ИксФЦЕ
Comment[sv]=MPD-klient skriven i GTK+ för Xfce
Comment[th]=ลูกข่าย MPD เขียนด้วย GTK+ สำหรับ Xfce
Comment[tr]=Xfce için GTK+ ile yazılmış MPD istemcisi
Comment[ug]=بۇ Xfce ئۈچۈن GTK+ دا يېزىلغان MPD client پروگراممىسى
Comment[uk]=Клієнт MPD написаний в GTK+ для Xfce
Comment[ur_PK]=ایم پی ڈی MPD کلائنٹ جو ایکسفس کے لیے GTK+ میں لکھا گیا ہے
Comment[ur]=ایم پی ڈی MPD کلائنٹ جو ایکسفس کے لیے GTK+ میں لکھا گیا ہے
Comment[zh_CN]=使用 GTK+ 编写的用于 Xfce 的 MPD 客户端
Comment[zh_TW]=以 GTK+ 寫成的，為 Xfce 設計的 MPD 客戶端
Comment=MPD client written in GTK+ for Xfce
GenericName[am]=MPD client
GenericName[ar]=MPD عميل
GenericName[be]=Кліент MPD
GenericName[bg]=MPD клиент
GenericName[ca]=Client MPD
GenericName[cs]=Klient MPD
GenericName[da]=MPD-klient
GenericName[de]=MPD-Programm
GenericName[el]=Πελάτης MPD
GenericName[en_AU]=MPD client
GenericName[en_GB]=MPD client
GenericName[es]=Cliente de MPD
GenericName[et]=MPD klient
GenericName[eu]=MPD bezeroa
GenericName[fi]=MPD-asiakasohjelma
GenericName[fr]=Client MPD
GenericName[gl]=Cliente de MPD
GenericName[he]=לקוח MPD
GenericName[hr]=MPD klijent
GenericName[hu]=MPD-kliens
GenericName[hy_AM]=MPD սպասառու
GenericName[hye]=MPD սպասառու
GenericName[id]=Klien MPD
GenericName[ie]=Client MPD
GenericName[is]=MPD biðlari
GenericName[it]=Client MPD
GenericName[ja]=MPD クライアント
GenericName[ko]=MPD 클라이언트
GenericName[lt]=MPD klientas
GenericName[ms]=Klien MPD
GenericName[nb]=MPD-klient
GenericName[nl]=MPD-cliënt
GenericName[oc]=Client MPD
GenericName[pl]=Klient MPD
GenericName[pt_BR]=Cliente MPD
GenericName[pt]=Cliente MPD
GenericName[ro]=Client MPD
GenericName[ru]=Клиент MPD
GenericName[sk]=MPD klient
GenericName[sl]=Odjemalec za MPD
GenericName[sq]=Klient MPD
GenericName[sr]=МПД клијент
GenericName[sv]=MPD-klient
GenericName[th]=ลูกข่าย MPD
GenericName[tr]=MPD istemcisi
GenericName[ug]=MPD خېرىدارى
GenericName[uk]=Клієнт MPD
GenericName[ur_PK]=ایم پی ڈی کلائنٹ
GenericName[ur]=ایم پی ڈی کلائنٹ
GenericName[zh_CN]=MPD 客户端
GenericName[zh_TW]=MPD 客戶端
GenericName=MPD client
Exec=xfmpc
Icon=multimedia-player
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;Player;
StartupNotify=true
NoDisplay=true