[Desktop Entry]
Name=Podman Desktop
Exec=podman-desktop %U
Terminal=false
Type=Application
Icon=io.podman_desktop.PodmanDesktop
StartupWMClass=Podman Desktop
Categories=Development;
X-Flatpak=io.podman_desktop.PodmanDesktop
NoDisplay=true